.locus {
  margin:20px;
}
.locus-cap {
  display: inline-block;
  padding: 5px;
  padding-left: 15px;
  padding-right:15px;

}
.gene {
  position: relative;
  display: inline-block;
  border-radius: 7px;
  border: 3px solid;
  padding: 5px;
  padding-left: 15px;
  padding-right:15px;
}

#diag {
  height: 400px;
}